.header{

  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-bottom: 10px;
  li{
      list-style: none;
  }
  .jkb{
    width: 160px;
  }
  .menu{
      display: flex;
      li{
          padding: 0 8px;
          font-size: 18px;
          font-weight: large;
      }
      li:hover {
        color: #c4302b; // $textColor :  green;
      }
    }
      .icons{
          display: flex;
          flex-direction: column;
          align-items:center;
          li{
              display: flex;
              align-items: center;
          }
         
         
          
      }
      .social_icons {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  

}

